/* EMPLOYEE CONTENT *//* File and Import Button Container Styles */
.file-import-container {
    background-color: #c4c7c9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}

.departments-count-container {
    display: flex;
    align-items: center;
    margin-right: 350px;
}

.department-count-container {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

label {
    margin-right: 5px;
}

input.employee-count-box,
input.department-count-box {
    width: 50px;
    text-align: center;
}




/* Leave Requests Table */
.leave-requests {
    background-color: #c4c7c9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin: 10px;
    position: relative;
}


/* Styles for the search filters section */
.search-filters {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


/* Style for the search button */
.search-btn {
    padding: 10px 15px;
    background-color: #20242C;
    color: #ffffff;
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    margin-right: 5px; 
    transition: all 0.5s ease;
    margin-left: 10px
}

.search-btn:hover {
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0 0 8px rgb(98, 184, 235);
}


.add-new-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    background-color: #20242C;
    color: white;
    transition: all 0.5s ease;
    margin-top: 70px;
}

.add-new-btn:hover {
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0 0 8px rgb(98, 184, 235);
}

/* Plus icon */
.plus-icon {
    margin-right: 5px;
}


/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 2px solid #ddd;
    text-align: center;
}

button.view-info {
    background-color: #324e79;
    color: #ffffff;
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    transition: all 0.5s ease;
}

.view-info:hover {
    background-color: #052659;
    color: #ffffff;
}


/* Pagination Styles */
.pagination {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 20px; 
}

.results-info {
    margin: 0;
}

.pagination-controls {
    display: flex;
    align-items: center;
    margin-left: 670px;
}

.page-number {
    width: 50px;
    text-align: center;
    margin: 0 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.prev-btn, .next-btn {
    padding: 8px 16px;
    background-color: #20242C;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.prev-btn:hover, .next-btn:hover {
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0 0 8px rgb(98, 184, 235);
}