/* LEAVES CONTENT */
body {
  display: flex;
  flex-direction: column;
  background-color: #f4f6f9;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  margin: 30px 10px 10px 10px;
  box-shadow: 0px 0px 5px #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
table th,
table td {
  border: 1px solid #ddd;
  padding: 10px;
  /* text-align: left; */
  white-space: nowrap; /* Prevents text wrapping */
  overflow: hidden; /* Ensures overflow is hidden */
  text-overflow: ellipsis; /* Shows ellipsis when text overflows */
  max-width: 5px; /* Set max width for the cell */
  width: 5ch; /* Sets a fixed width for the cell */
}

.td-text {
  white-space: nowrap; /* Prevents text wrapping */
  overflow: hidden; /* Ensures overflow is hidden */
  text-overflow: ellipsis; /* Shows ellipsis when text overflows */
  max-width: 5px; /* Set max width for the cell */
}

.action-buttons,
.action-tb {
  max-width: 30px; /* Set max width for the cell */
}

.action-tb {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

table th {
  background-color: white;
  color: black;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}
table tr:hover {
  background-color: #f1f1f1;
}

.status-approved {
  color: green;
  font-weight: bold;
}
.status-declined {
  color: red;
  font-weight: bold;
}
.status-pending {
  color: #f39c12;
  font-weight: bold;
}

.view-btn {
  background-color: black;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 2px;
}
.view-btn:hover {
  background-color: #0056b3;
}

.action-buttons {
  display: flex;
  justify-content: center; /* Centers buttons horizontally */
  align-items: center; /* Centers buttons vertically */
  gap: 5px;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.pagination button {
  margin-left: 5px;
  padding: 5px 10px;
  border: none;
  background-color: black;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.pagination button:hover {
  background-color: #0056b3;
}

.pagination input {
  width: 40px;
  text-align: center;
}
.navbar .date-time {
  font-family: 14px;
  color: #555;
  text-align: center;
}

.admin-icon {
  font-size: 14px;
  color: black;
  font-weight: bold;
}
.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
  font-size: 14px;
  color: #666;
}

.search {
  display: flex;
  justify-content: space-between; /* Align h3 to the left and search-bar to the right */
  align-items: center; /* Vertically align items in the container */
  padding: 10px; /* Optional: Adds padding around the container */
}

.search-bar {
  display: flex;
  align-items: center; /* Vertically align button and input */
  gap: 10px; /* Adds spacing between the button and input */
}

.view-btn {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

input[type="text"] {
  padding: 5px;
  font-size: 16px;
}
