/* salary CONTENT */

.selection_div {
    margin: 50px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

.payroll_contents {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 0px 5px #ccc;
  }

/* Dropdown Container */
.dropdown {
    width: 200px;
    position: relative; /* Needed for absolute positioning of content */
}

/* Dropdown Input */
.dropdown-input {
    width: 75%;
    padding: 6px 10px;
    border: 1px solid #aaaaaa6c;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
}

.dropdown-input:hover{
    color: #7DA0CA;
    transition: all 0.3s ease-in-out; /* Smooth animation */
}

.dropdown-input:focus{
    color: #fff;
    background-color: #AAC7D8;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);

}

/* Dropdown Indicator */
.dropdown-indicator {
    font-size: 27px; 
    position: absolute;
    right: 55px;
    transition: transform 0.3s ease; /* Smooth rotation animation */
    cursor: pointer;
}
.dropdown-indicator.rotated {
    transform: rotate(180deg); /* Flip the arrow */
}

/* Dropdown Content */
.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 75%; /* Match input width */
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure it stays on top */
    border-radius: 5px;
    overflow-y: auto;
    max-height: 150px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
    pointer-events: none; /* Prevent clicks when hidden */
}

.dropdown-content.show {
    opacity: 1;
    transform: scaleY(1); /* Expand dropdown */
    pointer-events: auto; /* Enable clicks */
}


.dropdown-content .dropdown-item {
    padding: 5px 5px;
    cursor: pointer;
}

.dropdown-content .dropdown-item:hover {
    background-color: #AAC7D8;
    transition: all 0.2s ease-in-out; /* Smooth animation */
}

/* Dropdown Wrapper */
.dropdown-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    
}
.dropdown-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.table_div {
    margin: 30px 10px 10px 10px;
    height: auto;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    overflow-y: hidden;
    overflow-x: auto;
}


table {
    width: 100%;
    border-collapse: collapse;
    min-height: 250px;
    margin-top: 20px;
  }
  
  table th,
  table td {
    border: 1px solid #ddd;
    padding: 10px;
    /* text-align: left; */
    white-space: nowrap;
    /* Prevents text wrapping */
    overflow: hidden;
    /* Ensures overflow is hidden */
    text-overflow: ellipsis;
    /* Shows ellipsis when text overflows */
    max-width: 25px;
    /* Set max width for the cell */
    width: 5ch;
    /* Sets a fixed width for the cell */
    font-size: 14px;
  }

  .no-data {
    text-align: center;
    font-weight: bold;
    color: gray;
    padding: 20px;
}
  
  /* SEARCH BAR */
  .search {
    display: flex;
    justify-content: space-between;
    /* Align h3 to the left and search-bar to the right */
    align-items: center;
    /* Vertically align items in the container */
  
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  input[type="text"] {
    font-size: 16px;
  }
  
  .td-text {
    white-space: nowrap;
    /* Prevents text wrapping */
    text-overflow: ellipsis;
    /* Shows ellipsis when text overflows */
    max-width: 70px;
    /* Set max width for the cell */
    color: red;
  }
  
  .action-buttons,
  .action-tb {
    max-width: 100px;
    /* Set max width for the cell */
  }
  
  table th {
    background-color: white;
    color: black;
  }
  
  table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  table tr:hover {
    background-color: #f1f1f1;
  }
  
  .status-approved {
    color: green;
    font-weight: bold;
  }
  
  .status-declined {
    color: red;
    font-weight: bold;
  }
  
  .status-pending {
    color: #f39c12;
    font-weight: bold;
  }
  
  h3 {
    color: #5f5f5f;
    font-weight: 520;
  }
  
  .slip-btn {
    background-color: #1BCD80;
    color: #fff;
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 1px;
    font-size: smaller;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .slip-btn:hover {
    background-color: #39d491;
    transition: all 0.3s ease-in-out; /* Smooth animation */
  }

  .slip-btn:active {
    background-color: #33996d;
    transition: all 0.1s ease-in-out; /* Smooth animation */
  }

  .view-btn {
    background-color: #5483B3;
    color: #fff;
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 1px;
    font-size: smaller;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .view-btn:hover {
    background-color: #6f9fce;
    transition: all 0.3s ease-in-out; /* Smooth animation */
  }

  .view-btn:active {
    background-color: #506c88;
    transition: all 0.1s ease-in-out; /* Smooth animation */
  }
  
  .search-btn {
    background-color: #20242C;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 2px;
    width: 100px;
    height: 35px;
  }
  
  .search-btn:hover {
    background-color: #3a414e;
    transition: all 0.3s ease-in-out; /* Smooth animation */
  }
  .search-btn:active{
    background-color: #282b30;
  }
  
  /* Pagination */
  .pagination {
    display: flex;
    justify-content: flex-end;
  }
  
  .pagination button {
    margin-left: 10px;
    margin-right: 10px;
    padding: 2px 10px;
    border: none;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
  }
  
  .pagination input {
    width: 40px;
    text-align: center;
  }
  
  .admin-icon {
    font-size: 14px;
    color: black;
    font-weight: bold;
  }
  
  .pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    font-size: 14px;
    color: #666;
  }
  
  .perpage {
    outline: none;
    border: none;
  }

.payall_btn{
    margin-left: 10px;
    width: 180px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #aaaaaa6c;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #1BCD80;
    color: #ffff;
    font-size: 17px;
}
.payall_btn:hover{
    background-color: #39d491;
    transition: all 0.3s ease-in-out; /* Smooth animation */
}
.payall_btn:active{
    background-color: #33996d;
    transition: all 0.1s ease-in-out; /* Smooth animation */
}
#search_emp_input {
    width: 300px;
    padding: 6px 5px;
    border-radius: 4px;
    border: 1px solid #aaaaaa6c;
    box-sizing: border-box;
}


/* toast css */

