/* Logo image */
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    font-size: 20px;
}

img {
    height: 60px;
}

/* sidenav */
.sidenav {
    background-color: #20242C;
    color: white;
    width: 200px;
    min-width: 60px;
    transition: width 0.3s;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    background: linear-gradient(180deg, #20242C, #343A40);
    /* overflow: hidden; */
    position: fixed;
    top: 40px;
    bottom: 0;
    left: 0;
    font-size: 16px;
}

.sidenav.close {
    width: 60px;
    transition:  all 0.2s ease;
}
.sidenav.close .link-name {
    display: none;
    
}

.sidenav.close .arrow {
    display: none;
}

.sidenav.close img {
    /* for minimized image */
    height: 35px;
}

.sidenav .nav-links {
    height: 100%;
    overflow: auto;
    margin-top: -8px;
}

.sidenav .nav-links {
    overflow: visible;
}

.sidenav .nav-links::-webkit-scrollbar{
    display: none;
}

.sidenav .nav-links li {
    position: relative;
    list-style: none;
    transition:  all 0.2s ease;
}

.sidenav .nav-links li:hover {
    background: #0a0b0c;
}

.sidenav .nav-links li i {
    height: 40px;
    min-width: 50px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    transition:  all 0.2s ease;
}

.sidenav .nav-links li.showmenu i.arrow{
    transform: rotate(-180deg);
} 

.sidenav .nav-links li a {
    text-decoration: none;
    margin: 5px;
}

.link-name {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}

li a {
    display: flex;
    align-items: center;
}

li a i {
    font-size: 1em;
}

li a span.link-name {
    font-size: 1em; 
}

li a i.indicators {
    margin-left: auto; 
    font-size: 1em;
}

.sidenav .nav-links li .icon-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sidenav .nav-links li .icon-link .indicator {
    color: #fff;
    margin-left: auto;
}

/* .sidenav .nav-links li .icon-link a {
    display: flex;
    align-items: center;
} */

.sidenav .nav-links li .sub-menu {
    padding:  5px 5px 6px 60px;
    margin-top: -4px;
    background: #20242C;
    display: none;
}

.sidenav .nav-links li.showmenu .sub-menu {
    display: block;
}

.sidenav .nav-links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition:  all 0.2s ease;
}

.sidenav .nav-links li .sub-menu a:hover {
    opacity: 1;
}

.sidenav.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding:  5px 30px;
    margin-top: 0;
    border-radius: 0 6px 6px 0;
    transition:  all 0.2s ease;
    opacity: 0;
    display: block;
    pointer-events: none;
}

.sidenav.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
}

.sidenav .nav-links li .sub-menu .link-name {
    font-size: 16px;
    display: none;
}

.sidenav.close .nav-links li .sub-menu .link-name {
    font-size: 16px;
    display: block;
}

.sidenav .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 9px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.sidenav .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}

/* Disable hover effect for sub-menu li */
.sidenav .nav-links li .sub-menu li:hover {
    background: none;
}
