/* FOR MAIN BODY START */
body {
    margin: 0;
    height: 100%;
    font-family: "Poppins", sans-serif;
}

.main {
    flex-grow: 1;
    padding: 20px;
    background-color: #f4f4f4;
    margin-left: 200px;
    transition: margin-left 0.3s;
    margin-top: 40px;
}

.minimized+.main {
    margin-left: 60px;
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
}

h1 {
    margin: 10px;
}
/* MAIN BODY END */